<header class="container">
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="#">
            <img src="assets/logo_h.jpg" width="250" class="d-inline-block align-top" alt="logo_CrowDev">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navHeader" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-caret-down"></span>
        </button>

        <div class="collapse navbar-collapse" id="navHeader">
            <ul class="navbar-nav ml-auto mNav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/servicios">Nuestro trabajo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contactenos">Contáctenos</a>
                </li>
            </ul>
        </div>
    </nav>
</header>