<app-header></app-header>
<!-- i-waveEffect -->
<div style="position:relative; background-color: black; min-height: 60vh;">
    <div class="contenedor">
        <p class="texto-delante">Llevamos tu negocio a la innovación</p>
    </div>
    <div class="custom-shape-divider-bottom-1602123799">

        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
</div>
<!-- f-waveEffect -->
<!-- i features -->
<section class="c-section my-5">
    <div class="container">
        <div class="row mx-5 mx-sm-0">
            <div class="card my-3 mx-lg-0 py-3 col-md-12 col-lg-4 colorFondo border-0 ">
                <div class="card-body text-center">
                    <img src="assets/imagen1.svg" alt="mobile">                  
                    <h5 class="my-2 text-center">Transformación digital</h5>
                    <p class="text-center">CrowDev te ayuda a impulsar tu negocio a la era de la transformación digital.</p>
                </div>
            </div>
            <div class="card my-3 mx-lg-0 py-3 col-md-12 col-lg-4 colorFondo border-0">
                <div class="card-body text-center">
                    <img src="assets/imagen2.svg" alt="mobile">                  
                    <h5 class="my-2 text-center">Sistemas de calidad</h5>
                    <p class="text-center">En CrowDev realizamos sistemas con las últimas tecnologías, seguros y rápidos y adaptables a tu negocio.</p>
                </div>
            </div>
            <div class="card my-3 mx-lg-0 py-3 col-md-12 col-lg-4 colorFondo border-0">
                <div class="card-body text-center">
                    <img src="assets/imagen3.svg" alt="mobile">                  
                    <h5 class="my-2 text-center">Capacitaciones de alta gama</h5>
                    <p class="text-center">CrowDev cuenta con los mejores profesionales especializados para la capacitación de tu organización.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- f features-->
<!-- i-nuestros-servicios -->
<section class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2 class="h1 text-center ">Nuestros servicios</h2>
            </div>
            <div class="mb-5 col-12 col-lg-4">
                <div class="imagen-port">
                    <img src="assets/s1.jpg" alt="mobile_app">
                    <div class="hover-galeria">
                        <img src="assets/icono1.png" alt="flecha">
                        <p class="h4" style="color: white;">Mobile Apps</p>
                    </div>
                </div>
            </div>
            <div class="mb-5 col-12 col-lg-4">
                <div class="imagen-port">
                    <img src="assets/s2.jpg" alt="desktop">
                    <div class="hover-galeria">
                        <img src="assets/icono1.png" alt="flecha">
                        <p class="h4" style="color:white;">Desktop Apps</p>
                    </div>
                </div>
            </div>
            <div class="mb-5 col-12 col-lg-4">
                <div class="imagen-port">
                    <img src="assets/s3.jpg" alt="business_int">
                    <div class="hover-galeria">
                        <img src="assets/icono1.png" alt="flecha">
                        <p class="h4" style="color: white;">Business Inteligence</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- f-nuestros-servicios -->
<app-footer></app-footer>