<app-header></app-header>
<!-- i-waveEffect -->
<div style="position:relative; background-color: black; min-height: 75vh;">
    <div class="contenedor-2">
        <div class="container h-cover">
            <div class="title-cover">
                <div class="items text-white texto-centrado">
                    <h1>¿Qué es CrowDev?</h1>
                    <p>Nos encargamos de realizar el desarrollo de soluciones tecnológicas para la mejora y automatización de procesos, como plataformas web, aplicaciones móviles, dashboards interactivos, migración y carga de información, sistemas en la
                        nube.
                    </p>
                    <button class="btn btn-radio"> Contáctanos</button>

                </div>
            </div>
        </div>
    </div>
    <div class="custom-shape-divider-bottom-1602123799">

        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
            </svg>
    </div>
</div>
<!-- f-waveEffect -->
<!-- PORTAFOLIO-->
<section class="container mb-5 mt-5">
    <div class="portafolio mb-4">
        <div class="content-center">
            <p>¿Quieres hacer crecer tu negocio con tecnologías de información? </p>
            <h1>¿Qué te ofrecemos?</h1>
        </div>
        <div class="row topmargin-xs">
            <div class="col-md-4">
                <div class="portafolio-container">
                    <img src="assets/1.png" class="img-fluid" alt="portafolio">
                    <div class="portafolio-details">
                        <h2>Creatividad</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="portafolio-container">
                    <img src="assets/2.png" class="img-fluid" alt="portafolio">
                    <div class="portafolio-details">
                        <h2>Innovación</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="portafolio-container">
                    <img src="assets/3.png" class="img-fluid" alt="portafolio">
                    <div class="portafolio-details">
                        <h2>Productividad</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 topmargin-xs">
                <div class="portafolio-container">
                    <img src="assets/4.png" class="img-fluid" alt="portafolio">
                    <div class="portafolio-details">
                        <h2>Rapidez</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 topmargin-xs">
                <div class="portafolio-container">
                    <img src="assets/5.png" class="img-fluid" alt="portafolio">
                    <div class="portafolio-details">
                        <h2>Proactividad en asesoría TI</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 topmargin-xs">
                <div class="portafolio-container">
                    <img src="assets/6.png" class="img-fluid" alt="portafolio">
                    <div class="portafolio-details">
                        <h2>Competividad economica</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- PORTAFOLIO-->
<!-- i-contacto -->
<div style="position:relative; background-color: black; min-height: 60vh;">
    <div class="custom-shape-divider-top-1602892232">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
    </div>
    <div class="contenedor-3">
        <div class="container">
            <div class="title-contacto">
                <div class=" items texto-centrado text-white  text-center">
                    <h2 class="pb-4">¿Buscas un socio estratégico?</h2>
                    <button class="btn "> Contáctanos</button>

                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>