<app-header></app-header>
<!-- i-waveEffect -->
<div style="position:relative; background-color: black; min-height: 60vh;">
    <div class="contenedor">
        <p class="texto-delante contact">Contáctenos</p>
    </div>
    <div class="custom-shape-divider-bottom-1602123799">

        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
</div>
<!-- f-waveEffect -->

<!-- i-contacto -->
<section class="c-section my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="my-4 text-center">Información de contacto</h2>
                <div class="message">
                    <div class="icono"><i class="fas fa-envelope"></i></div>
                    <div class="texto-icono">
                        <p class="align-middle">ceo@crowdevs.com</p>
                    </div>
                </div>
                <div class="phone">
                    <div class="icono"><i class="fas fa-phone-alt"></i></div>
                    <div class="texto-icono">
                        <p class="align-middle">+51 965247500 </p>
                    </div>
                </div>
                <div class="location">
                    <div class="icono"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="texto-icono">
                        <p class="align-middle">Urb. Los viñedos de Santa María K-20 Ica, Perú</p>
                    </div>
                </div>
                <div class="socials">
                    <div class="icono"><i class="fab fa-facebook"></i></div>
                    <div class="texto-icono social">
                        <p class="align-middle">CrowDev</p>
                    </div>
                    <div class="icono"><i class="fab fa-instagram"></i></div>
                    <div class="texto-icono">
                        <p class="align-middle">CrowDev</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d342.0928142085931!2d-75.73538842139521!3d-14.057184946667547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9110e2b87c5f2f1b%3A0xf9043d80d11a00ce!2sLos%20Vi%C3%B1edos%20de%20Santa%20Mar%C3%ADa!5e0!3m2!1ses!2spe!4v1602132466517!5m2!1ses!2spe"
                    width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</section>
<!-- f-contacto -->
<!-- i-form -->
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="iz bg-form col-12 col-lg-6">
                <img class="foto w-100 img-fluid" src="assets/form.jpg" alt="form_contacto">
            </div>

            <div class="bg-form col-12 col-lg-6">
                <h2 class="my-4 text-center">Gracias por contactarte con CrowDev</h2>
                <form>
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6">
                            <div class="form-group">
                                <input type="text" class="inp form-control" aria-describedby="nombre" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6">
                            <div class="form-group">
                                <input type="email" class="inp form-control" aria-describedby="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input type="text" class="inp form-control" aria-describedby="asunto" placeholder="Asunto">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="inp form-control" placeholder="Mensaje" rows="4"></textarea>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button class="btn" id="btnEnviar">Enviar</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- f-form -->
<!-- i-footer -->
<app-footer></app-footer>